@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: black;
  padding: 20px;
  border-radius: 15px;
  max-width: 600px;
  width: 80%;
  text-align: center;
}
